.game-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: rgb(36, 34, 34);
}

.game-characters-container {
  display: flex;
  justify-content: space-around;
}

.start-game {
  background-color: rgb(31, 165, 31);
  transition: 0.3s;
}

.start-game:hover {
  background-color: rgba(31, 165, 31, 0.637);
}

.leave-room {
  background-color: rgb(165, 31, 31);
  transition: 0.3s;
}

.leave-room:hover {
  background-color: rgba(165, 31, 31, 0.637);
}
