.container-inscription {
  background-color: rgb(102, 185, 175);
  padding: 40px 10%;
  transition-duration: 1s;
}

.container-color-serp {
  background-color: #1a472a !important;
}

.container-color-grif {
  background-color: #740001 !important;
}

.container-color-serd {
  background-color: #0e1a40 !important;
}

.container-color-pouf {
  background-color: #ecb939 !important;
}

.harry-potter-form {
  background-color: #1b1b1b;
  color: #f5f5f5;
  font-family: "Harry Potter", sans-serif;
  padding: 20px;
  border-radius: 10px;
}

.harry-potter-form h2 {
  margin-top: 0;
  font-size: 24px;
}

.harry-potter-form label {
  display: block;
  margin-top: 10px;
}

.harry-potter-form input[type="text"],
.harry-potter-form input[type="password"] {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  width: 100%;
}
.harry-potter-form select {
  width: 120px;
  height: 30px;
  border: 1px solid #999;
  font-size: 18px;
  color: #000000;
  background-color: #eee;
  border-radius: 5px;
}

.harry-potter-form input[type="submit"] {
  background-color: #a90000;
  color: #f5f5f5;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.harry-potter-form input[type="submit"]:hover {
  background-color: #d31e1e;
}

.inscription-link {
  margin-top: 20px;
  text-align: center;
}

.inscription-link a {
  color: #88bcf0;
}

.inscription-link a:hover {
  color: #67a9eb;
}
