/* .character {
  left: 20px;
  position: absolute;
  top: 30vh;
  height: 40vh;
  width: 20vw;
} */

.character-container {
  width: -webkit-fill-available;
  text-align: left;
}

.character {
  padding: 10px;
}

.character-name {
  color: white;
  text-align: center;
  padding: 10px 0;
}

.character-image-container {
  background-image: url("/public/images/wall-dungeon.jpg");
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  height: 50vh;
  width: 100%;
  border-radius: 12px;
  padding: 2%;
  overflow: hidden;
}

.character-image {
  height: 75%;
}

.flipped {
  transform: scaleX(-1);
}

.character-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: inherit;
}

.character-info-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-top: 10px;
}

.character-info p {
  margin: 0;
}
